@{
	ViewBag.Title = "Index";
}

<h2 class="page__head page__wrapper">
	Ramp Festival Contest Management Portal
</h2>
<div class="page__content">
	<div class="page__wrapper">
		<div class="nav content-main__nav">
			<a class="nav__right" style="float: left" href="@Url.Action("Locate", "Contest")">Log in</a>
			<div class="g-clear"></div>
			<br />
			<a class="nav__right" style="float: left" href="@Url.Action("Create", "Contest")">Create Contest</a>
		</div>
	</div>
</div>