@{
	ViewBag.Title = "Crocket-Golf";
}

<div class="row">
	<div class="col-md-9">
		<h1>Crocket-Golf</h1>
		<h2>Spielregeln</h2>
		<p>Auf jeder Bahn gibt es Tore und verschiedene Hindernisse. Der Spielball muss mit dem Crocketschläger durch die einzelnen Tore in der entsprechenden Reihenfolge gespielt werden. Um durch einige Tore spielen zu können müssen die auf der Bahn platzierten Hindernisse bespielt werden. Am Ende jeder Bahn muss der Ball im Zielloch landen.
		Der Spieler, der die Bahnen mit den wenigsten Schlägen bespielt, gewinnt!
		Jeden Tag wird so ein Tagessieger ermittelt. Die Tagessieger spielen am Samstag im Finale gegeneinander um den Gesamtsieg.</p>
		<h3>Finale</h3>
		<p>Für das Finale gelten die folgenden Regeln:
		Das Finale findet auf einer hierfür extra aufgebauten Bahn statt. Alle Tagessieger spielen gleichzeitig und gegeneinander auf dieser Bahn um den Gesamtsieg. Das Los bestimmt, welcher Spieler den ersten Schlag hat. Jeder Spieler hat je Spielrunde nur einen Schlag, danach ist der nächste Spieler am Zug. Passiert ein Spieler mit seinem Ball ein Tor, darf der Spieler einen weiteren Schlag machen. Der Spieler, der seinen Spielball als erstes im Zielloch versenkt, gewinnt!
		Aber Achtung: Beim Finale kämpfen die Spieler gegeneinander. Dazu kann im Finale das Crockieren angewendet werden.</p>
		<h3>Crockieren (nur im Finale)</h3>
		<p>Trifft ein Spieler mit seinem Ball einen gegnerischen Spielball, kann dieser sich für eine von zwei Möglichkeiten entscheiden:
		<strong>Möglichkeit 1: Den gegnerischen Spielball wegschlagen</strong>
		Der gegnerische Spielball und der eigene Spielball liegen aneinander. Mit dem Fuß wird der eigene Spielball festgehalten und der gegnerische Spielball kann mit einem Schlag gegen den eigenen Ball weggeschlagen werden.
		<strong>Möglichkeit 2: Extra-Schlag</strong>
		Der Spieler darf einen weiteren Schlag machen.</p>
	</div>

	@*<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-3">
			<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/20140811_184817.jpg" />
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/20140811_184817.jpg" />
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/20140811_184817.jpg" />
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/20140811_184817.jpg" />
		</div>
	</div>*@
</div>
