@{
	ViewBag.Title = "Crocket-Golf";
}

<div class="row">
	<div class="col-md-9">
		<h2>Crocket-Golf</h2>
		<h3>Allgemeine Informationen</h3>
		<p>Das von uns so getaufte Crocket-Golf ist, wie der Name schon vermuiten lässt, eine Mischung aus Crocket und Minigolf.</p>
		<p>Wir bauen für den Wettbewerb drei dem Minigolf nachempfundene Bahnen auf. Auf jeder Bahn gibt es verschiedene Tore und Hindernisse. Der Spielball muss mit dem Crocketschläger durch die einzelne Tore in der entsprechenden Reihenfolge gespielt werden. Um durch die Tore spielen zu können müssen je die auf der Bahn plazierten Hindernisse bespielt werden. Am Ende jeder Bahn muss der Ball im Zielloch landen.</p>
		<p>Der Spieler, der die Bahnen mit den wenigsten Schlägen bespielt gewinnt. Jeden Tag wird so ein Tagessieger ermittelt. Die Tagessieger spielen am Finaltag gegeneinander um den Gesamtsieg.</p>
		<h3>Hindernisse</h3>
		<p>Die Hindernisse werden gerade von uns entworfen und gebaut. Derzeit in Arbeit sind eine Brücke, ein Tunnel und eine Wippe. Weitere Hindernisse kommen noch dazu. Wir stellen Informationen und Bilder zu den einzelnen Hindernissen nach und nach bereit.</p>
		<h3>Finale</h3>
		<p>Für das Finale beim Crocket-Golf haben wir uns etwas Besonderes ausgedacht. Wir werden für das Finale eine neue Bahn aufbauen. Alle Tagessieger spielen gleichzeitig gegeneinander auf dieser Bahn um den Gesamtsieg. Das Los bestimmt, welcher Spieler beginnt. Dabei hat jeder Spieler nur einen Schlag, danach ist der nächste Spieler am Zug. Eine Ausnahme stellt das Passieren eines Tores dar, nach dem Passieren eines Tores hat der jeweilige Spieler einen weiteren Schlag. Der Spieler, der seinen Spielball als erstes im Zielloch versenkt, gewinnt!</p>
		<p>Aber Achtung: Beim Finale kämpfen die Spieler gegeneinander. Zudemm führen wir beim Finalspiel das bekannte Crockieren aus dem Crocket ein.</p>
		<h4>Crockieren im Finale</h4>
		<p>Crockieren bedeutet, dass wenn ein Spieler einen gegnerischen Spielball trifft, er sich für eine der folgenden zwei Varianten entscheiden darf:</p>
		<p><strong>Variante 1: Den gegnerischen Spielball wegschlagen</strong></p>
		<p>Der gegnerische Spielball und der eigene Spielball liegen aneinander. Mit dem Fuss wird der eigene Spielball fixiert und mit einem Schlag gegen den eigenen Spielball wird der gegnerische Ball somit weggeschlagen.</p>
		<p>oder</p>
		<p><strong>Variante 2: Extra-Schlag</strong></p>
		<p>Der Spieler darf einen weiteren Spielzug (Schlag) ausführen und kann somit für sich selbst einen Vorteil erspielen, indem er den Ball weiter in Richtung Zielloch schlägt.</p>
		<p><a class="btn btn-default" href="~/Home">Zurück &raquo;</a></p>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-3">
			<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/20140811_184817.jpg" />
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/20140811_184817.jpg" />
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/20140811_184817.jpg" />
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/20140811_184817.jpg" />
		</div>
	</div>
</div>
