@{
	ViewBag.Title = "Crocket-Golf";
}

<div class="row">
	<div class="col-md-9">
		<h1>Geschicklichkeitsbosseln</h1>
		<p>Informationen übers Geschicklichkeitsbosseln folgen in Kürze!</p>
	</div>
</div>
