@{
	ViewBag.Title = "Crocket-Golf";
}

<div class="row">
	<div class="col-md-9">
		<h1>Luftkegeln</h1>
		<h2>Allgemeine Informationen</h2>
		<p>Das Luftkegeln ist dem bekannten Kegelsport recht ähnlich.</p>
		<p>Die Kugel wird dabei jedoch nicht über eine Holzbahn gespielt, sondern schwingt an einem Seil in der Luft. Mit der am Seil befestigten Kugel wird nun versucht, so viele Kegel wie möglich umzuwerfen. Am Besten natürlich Alle Neune!</p>
		<p>Für jeden umgeworfenen Kegel gibt es einen Punkt. Jeder Spieler hat zehn Würfe pro Spiel. Sieger ist wer nach zehn Würfen die meisten Punkte erzielt hat.</p>
		<p>Jeden Tag wird so ein Tagessieger ermittelt. Die Tagessieger haben am Finaltag die Möglichkeit um den Gesamtsieg zu spielen.</p>
		<h3>Pudel</h3>
		<p>Die Kugel wird beim Luftkegeln nicht direkt in die aufgestellten Kegel geworfen, sondern muss beim Wurf zunächst einen gesonderten Kegel links vom Feld passieren und trifft dann von hinten in die Kegel.</p>
		<p>Wird dies beim Wurf nicht beachtet, oder wahrscheinlicher, wirft die Kugel diese extra Kegel bei dem Wurfversuch um, ist der Wurd ungültig, man hat einen Pudel geworfen! Der Wurf wird mit 0 Punkten gewertet.</p>
	</div>
</div>
