@{
    ViewBag.Title = "Impressum";
}
<h2>@ViewBag.Title</h2>

<p><strong>Verantwortlich für den Inhalt dieser Seiten: </strong>KBV Stollhamm e.V.</p>
<p><strong><h4>Vorstand</h4></strong></p>
<p>Frank Göckemeyer (1. Vorsitzender)</p>
<p>Bernd Müller (2. Vorsitzender)</p>

<h4>Konzeption und Gestaltung</h4>
<p>Marcus Dammann</p>

<p>&copy; @DateTime.Now.Year - KBV Stollhamm e.V. Alle Rechte vorbehalten.</p>
<p>Alle Informationen auf den Webseiten sind Eigentum des KBV Stollhamm e.V. Eine Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit der zur Verfügung gestellten Informationen und Daten ist ausgeschlossen. Dies gilt ebenso für alle anderen Websites, auf die mittels eines Hyperlinks verwiesen wird. Für den Inhalt solcher Sites ist der KBV Stollhamm e.V. ebenfalls nicht verantwortlich.</p>
<p>Die Inhalte dieser Website sind urheberrechtlich geschützt. Die Inhalte dürfen weder ganz noch teilweise ohne vorherige schriftliche Genehmigung des Urhebers vervielfältigt und/oder veröffentlicht oder in einem Informationssystem gespeichert werden.</p>
<p>Der KBV Stollhamm e.V. haftet weder für direkte noch indirekte Schäden, die durch die Nutzung der Informationen oder Daten entstehen, die auf dieser Website zu finden sind. Rechte und Pflichten zwischen dem KBV Stollhamm e.V. und dem Nutzer der Website oder Dritten bestehen nicht.</p>