@{
	ViewBag.Title = "Kontakt";
}

<div class="container-phone">
	<h2>@ViewBag.Title</h2>

	<address>
		<strong>KBV Stollhamm e.V.</strong><br />
		@*Redmond, WA 98052-6399<br />
			<abbr title="Phone">P:</abbr>
			425.555.0100*@
	</address>

	<address>
		<strong>Frank Göckemeyer</strong><br />
		1. Vorsitzender<br />
		<a href="mailto:frank.goeckemeyer@ewetel.net">frank.goeckemeyer@ewetel.net</a><br />
		<br />
		<strong>Bernd Müller</strong> <br />
		2. Vorsitzender<br />
		<a href="mailto:bernd.mueller5@ewetel.net">bernd.mueller5@ewetel.net</a><br />
		<br />
		<strong>Marcus Dammann</strong> <br />
		Pressesprecher<br />
		<a href="mailto:marcus@dammann-web.eu">marcus@dammann-web.eu</a>
	</address>

	<div class="container bg-gray" style="margin-top:5px;">
		<div class="row">
			<div class="col-md-3 lead">Folge dem KBV Stollhamm</div>
			<div class="col-md-2">
				<div class="tile-area no-padding">
					<div class="tile-group no-margin no-padding" style="width: 100%">
						@*<div class="tile-small bg-blue fg-white" data-role="tile">
								<div class="tile-content iconic">
									<span class="icon mif-twitter"></span>
								</div>
							</div>*@
						<a href="https://www.facebook.com/pages/KBV-Stollhamm-eV/251484831592327?fref=ts">
							<div class="tile-small bg-darkBlue fg-white" data-role="tile">
								<div class="tile-content iconic">
									<span class="icon mif-facebook"></span>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- End of tiles -->
</div>