@{
	ViewBag.Title = "Startseite";
}

<br/>
<div class="row">
	<div class="col-md-3">
		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
				<div class="item active">
					<img src="~/Content/images/20140815_201235.jpg" />
					<div class="carousel-caption">
						<p>Täglich ab 19:00 Uhr</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<h2>Wettbewerbe</h2>
		<p>In diesem Jahr gibt es zum ersten Mal drei Wettbewerbe! In diesem Jahr veranstalten wir das von uns so getaufte Crocket-Golf! Bei diesem Wettbewerb hat jeder, egal ob klein, groß, jung oder alt die Chance auf den Tages- und Gesamtsieg. Freut euch auf den neuen Wettbewerb und kommt zum diesjährigen Rampoenfest.</p>
		<p>Weitere Infos über die Wettbewerbe, insbesondere auch Details zum Crocket-Golf folgen in Kürze!</p>
		<p><a class="btn btn-default" href="~/Home">Zurück &raquo;</a></p>
	</div>

	<h3>Luftkegeln</h3>
	<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/luftkegeln.jpg" />
	<p>Obwohl das Luftkegeln durchaus bekannt ist erfahrt ihr hier demnächst mehr über den Wettkampf bei uns auf dem Rampenfest.</p>
	<h3>Geschicklichkeitsbosseln</h3>
	<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/gbosseln.jpg" />
	<p>Besucher aus den letzten Jahren dürfte das Geschicklichkeitsbosseln ebenfalls bekannt sein. Für alle anderen gibt es in Kürze weitere Infos zu diesem Wettkampf.</p>
	<h3>Crocket-Golf</h3>
	<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/crocketgolf.jpg" />
	<p>In diesem Jahr haben wir uns wieder etwas Neues einfallen lassen um das Rampenfest noch attraktiver zu gestalten.</p>
	<p>Dabei ist uns dieser neue Wettbewerb in den Sinn gekommen, mit dessen Umsetung wir und im Festausschuss gerade beschäftigen. Das Crocket-Golf dürfte so noch Keinem bekannt sein. Es ist eine Mischung aus Golf und Minigolf. Einiges an Material hierfür haben wir bereits zusammen und wir arbeiten gerade an den für das Spiel benötigten Hindernissen. Spannende Infos dazu gibt es ebenfalls in Kürze.</p>
	@*<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-3">
			<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/20140811_184817.jpg" />
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/20140811_184817.jpg" />
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/20140811_184817.jpg" />
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/20140811_184817.jpg" />
		</div>
	</div>*@
</div>
