@{
	ViewBag.Title = "Startseite";
}

<br/>
<div class="row">
	<div class="col-md-3">
		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
				<div class="item active">
					<img src="~/Content/images/20140815_201235.jpg" />
					<div class="carousel-caption">
						<p>Täglich ab 19:00 Uhr</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<h2>Wettbewerbe</h2>
		<p>In diesem Jahr gibt es zum ersten Mal drei Wettbewerbe! In diesem Jahr veranstalten wir das von uns so getaufte Crocket-Golf! Bei diesem Wettbewerb hat jeder, egal ob klein, groß, jung oder alt die Chance auf den Tages- und Gesamtsieg. Freut euch auf den neuen Wettbewerb und kommt zum diesjährigen Rampoenfest.</p>
		<p>Weitere Infos über die Wettbewerbe, insbesondere auch Details zum Crocket-Golf folgen in Kürze!</p>
		<p><a class="btn btn-default" href="~/Home">Zurück &raquo;</a></p>
	</div>
</div>
