@{
	ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<address>
	<strong>KBV Stollhamm e.V.</strong><br />
	@*Redmond, WA 98052-6399<br />
	<abbr title="Phone">P:</abbr>
	425.555.0100*@
</address>

<address>
	<strong>Frank Göckemeyer</strong><br />
	1. Vorsitzender<br />
	<a href="mailto:frank.goeckemeyer@ewetel.net">frank@dammann-web.eu</a><br />
	<br />
	<strong>Bernd Müller</strong> <br />
	2. Vorsitzender<br />
	<a href="mailto:bernd@dammann-web.eu">bernd@dammann-web.eu</a><br/>
	<br />
	<strong>Marcus Dammann</strong> <br />
	Pressesprecher<br />
	<a href="mailto:marcus@dammann-web.eu">marcus@dammann-web.eu</a>
</address>