@{
	ViewBag.Title = "Startseite";
}

<br />
<div class="row">
	<div class="col-md-3">
		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
				<div class="item active">
					<img src="~/Content/images/20140815_201235.jpg" />
					<div class="carousel-caption">
						<p>Täglich ein anderes Spiel</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<h2>Tagesspiele</h2>
		<p>Natürlich finden neben den Wettbewerben um den Tages- und Gesamtsieg auch wieder täglich wechselnde Spiele statt. Diese Spiele werden parallel zu den Wettbewerben stattfinden. Der Start der Tagesspiele ist <strong>täglich 20:00 Uhr</strong>. Für die Bestplazierten gibt es natürlich auch wieder attraktive Preise!</p>
		<p>An welchen Tages wir welche Spiele veranstalten und weitere Infos zu den einzelnen Spielen veröffentlichen wir hier in Kürze!</p>
		<p><a class="btn btn-default" href="~/Home">Zurück &raquo;</a></p>
	</div>
</div>
