@{
	ViewBag.Title = "Startseite";
}

<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		<div class="item active">
			<img src="~/Content/images/20140815_201235.jpg" />
			<div class="carousel-caption">
				<p class="subtitle">
					Gelände am Sportplatz
				</p>
				<p class="subtitle">
					Stollhamm
				</p>
				<p class="subsubtitle">
					11. - 15. August
				</p>
				<p class="title">
					Stollhammer Rampenfest 2015
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h2>Festwoche</h2>
		<p>Die Festwoche findet in diesem Jahr vom 11. - 15. August wie immer auf dem Stollhammer Sportplatz statt. Beginn ist <strong>täglich 19:00 Uhr</strong>.</p>
		<p>Weitere Infos folgen in Kürze!</p>
		<p><a class="btn btn-default" href="~/Home">Zurück &raquo;</a></p>
	</div>
</div>
