@{
	ViewBag.Title = "Startseite";
}

<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		<div class="item active">
			<img src="~/Content/images/20140815_201235.jpg" />
			<div class="carousel-caption">
				<p class="subtitle">
					Gelände am Sportplatz
				</p>
				<p class="subtitle">
					Stollhamm
				</p>
				<p class="subsubtitle">
					11. - 15. August
				</p>
				<p class="title">
					Stollhammer Rampenfest 2015
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h2>Festwoche</h2>
		<p>Die Festwoche findet in diesem Jahr vom 11. - 15. August wie immer auf dem Stollhammer Sportplatz statt. Beginn ist <strong>täglich 19:00 Uhr</strong>.</p>
		<p>Ab dann könnt ihr von Dientag bis Samstag bei drei Wettkämpfen um den Tagessieg wetteifern.</p>
		<p>Am Finaltag am Samstag kämpfen dann die einzelnen Tagessieger um den Gesamtsieg. Für die Bestplazierten winken attraktive Preise!</p>
		<p>Bei den jeweiligen Tagesspiele hat jeder Teilnehmer zudem die Chance einen weiteren Preis zu gewinnen.</p>
		<h3>Wettkämpfe</h3>
		<p>In deisem Jahr veranstalten wir zum ertsen Mal drei statt nur zwei Wettkämpfe.</p>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4">
				<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/luftkegeln.jpg" />
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/gbosseln.jpg" />
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/crocketgolf.jpg" />
			</div>
		</div>
		<p><a class="btn btn-default" style="margin-top: 15px;" href="~/Home/Contests">Zu den Wettkämpfen &raquo;</a></p>
		<h3>Tagesspiele</h3>
		<p>Neben den eigentlichen Wettkämpfen veranstalten wir auch jeden Tag ein anderes Spiel. Bei den Tagesspielen hat jeder die Chance auf den Sieg und auf attraktive Preise.</p>
		<p>Die Tagesspiele beginnen jeweils um <strong>20 Uhr</strong>.</p>
		<p><a class="btn btn-default" href="~/Home/DailyGames">Zu den Tagesspielen &raquo;</a></p>
		<h3>Familientag</h3>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<p>Tagsüber veranstalten wir am Samstag einen Familientag. Hierzu laden wir alle herzlich ein.</p>
				<p>Kinder dürfen gerne ihre Eltern mitbringen. Für die Kids bauen wir einige kleine Spielestationen zur Unterhaltung auf. An diesen könnenn die Kinden ihr Geschick und Glück beweisen während die Eltern, Oma und Opa oder Freunde und Bekannte gemütlich bei einer Tasse Kaffee oder Tee das ein oder andere Stück Kuchen geniessen.</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/familyday_1.jpg" />
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/familyday_2.jpg" />
			</div>
		</div>
	</div>
</div>
