@{
    ViewBag.Title = "Home Page";
}

<div>
	<p class="title-prefix">
		Stollhammer
	</p>
	<p>
		<img class="scaled" src="~/Content/images/ramp-festival.de.png" alt="hier sollte ein bild sein" />
		<img class="scaled-right" src="~/Content/images/2015.png" alt="hier sollte ein bild sein" />
	</p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Festwoche</h2>
        <p>
            Die Festwoche findet in diesem Jahr vom 11. - 15.August wie immer auf dem Stollhammer Sportplatz statt.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Mehr erfahren &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Wettbewerbe</h2>
        <p>Neben den - aus den Vorjahren bekannten - Wettbewerben Luftkegeln und Geschicklichkeitsboßeln veranstalten wir in diesem Jahr zum ersten mal einen dritten Wettbewerk: Crocket-Golf. Dieser Wettbewerb findet parallel zu den genannten Wettbewerben an allen Tagen statt. Auch beim Crocket-Golf wird je Tag ein Tagessieger ermittelt, die am Finaltag um den Gesamtsieg spielen.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Mehr erfahren &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tagesspiele</h2>
        <p>Erfahren Sie schon vorab alles über die geplanten Tagesspiele und bereiten Sie sich so optimal für ihr Lieblingsspiel oder Lieblingsspiele vor.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Mehr erfahren &raquo;</a></p>
    </div>
</div>