@{
	ViewBag.Title = "Startseite";
}

<div class="container-phone">
	<h1 class="text-center">Stollhammer</h1>
	<img class="img-responsive center-block" src="~/Content/images/title.png" alt="hier sollte ein bild sein" />
</div>

<div class="container-phone">
	<div class="col-md-4">
		<h2>Festwoche</h2>
		<p>
			Die Festwoche findet in diesem Jahr vom 11. - 15.August wie immer auf dem Stollhammer Sportplatz statt.
		</p>
		<p><a class="btn btn-default" href="~/Home/FestivalWeek">Mehr erfahren &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Wettbewerbe</h2>
		<p>Neben den - aus den Vorjahren bekannten - Wettbewerben Luftkegeln und Geschicklichkeitsboßeln veranstalten wir in diesem Jahr zum ersten mal einen dritten Wettbewerb: Crocket-Golf. Dieser Wettbewerb findet parallel zu den genannten Wettbewerben an allen Tagen statt. Auch beim Crocket-Golf wird je Tag ein Tagessieger ermittelt, die am Finaltag um den Gesamtsieg spielen.</p>
		<p><a class="btn btn-default" href="~/Home/Contests">Mehr erfahren &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Tagesspiele</h2>
		<p>Erfahren Sie schon vorab alles über die geplanten Tagesspiele und bereiten Sie sich so optimal für ihr Lieblingsspiel oder Lieblingsspiele vor.</p>
		<p><a class="btn btn-default" href="~/Home/DailyGames">Mehr erfahren &raquo;</a></p>
	</div>
</div>

<div class="container-phone">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img src="~/Content/images/banner1.png" alt="Chania">
				@*<div class="carousel-caption">
					<h3>Crocket-Golf</h3>
				</div>*@
			</div>

			<div class="item">
				<a href="~/Account/Register">
					<img src="~/Content/images/newsletter_banner.png" alt="ASP.NET" class="img-responsive">
					<div class="container">
						@*<div class="carousel-caption">
							<p>
								@Html.ActionLink("Newsletter abonnieren", "Subscribe", "Home")
								<span class="glyphicon glyphicon-play" aria-hidden="true">
								</span>
								@Html.ActionLink("Newsletter abonnieren", "Subscribe", "Home")
								<span class="glyphicon glyphicon-play" aria-hidden="true">
								</span>
								@Html.ActionLink("Newsletter abonnieren", "Subscribe", "Home")
								<span class="glyphicon glyphicon-play" aria-hidden="true">
								</span>
							</p>
						</div>*@
					</div>
					</a>
</div>
		</div>
	</div>
</div>
