@{
	ViewBag.Title = "Bewirtung";
}
<h2>@ViewBag.Title</h2>

<div class="row">
	<div class="col-md-9">
		<p>Für das leibliche Wohl unserer Gäste sorgt in diesem Jahr:</p>
		<p><strong>Harald Krötz und sein Team vom Huus an'n Siel</strong></p>
		<p>Unser Vereinswirt Harald übernimmt dabei die Bewirtung am Familientag ebenso wie die Bewirtung an den einzelnen Abenden.</p>
		<p>Dabei wird das diesjährige Angebot um viele Leckereien ergänzt. Dies freut uns ganz Besonders, da es uns natürlich am Herzen liegt, unseren Gästen Speisen und Getränke nach ihren Wünschen anbieten zu können. Wir sind der Meinung, dass uns dies in diesem Jahr sehr gut gelungen wird. Aber seht selbst, was wir bzw. Harald und sein Team anbieten werden.</p>
		<h3>Leckeres vom Grill</h3>
		<p>Unseren Gästen leckere Speisen vom Grill anbieten zu können ist Tradition - und die wird auch in diesem Jahr wieder bewahrt!</p>
		<p>Jeder Besucher kann sich freuen auf:</p>
		<p>Frisch gegrillte Bratwurst</p>
		<p>Krakauer</p>
		<p>Currywurst (als Bratwurst oder Krakauer)</p>
		<p>Frikadellen</p>
		<p>Schaschlik</p>
		<h3>Getränke</h3>
		<p>Als Getränke gibt es:</p>
		<p>Diverse alkoholfreie Erfrischungsgetränke</p>
		<p>Bier</p>
		<p>Verschiedene Mixgetränke (z.B. Cuba Libre)</p>
		<p>Schnaps</p>
		<h3>Für die Kleinen</h3>
		<p>Für unsere kleineren Gäste gibt es ausserdem:</p>
		<p>Chicken Nuggets</p>
		<p>Eis</p>
		<p>Da wir alle sicherlich nicht nur gerne Eis essen, dürfen natürlich auch alle Erwachsene auf dieses Angebot zurückgreifen.</p>
		<h3>Kaffee und Kuchen</h3>
		<p>Am Familientag wird tagsüber zusätzlich Kaffee und Kuchen angeboten.</p>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-3">
			<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/20140811_184817.jpg" />
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/20140811_184817.jpg" />
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/20140811_184817.jpg" />
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<img style="width:100%; height:100%; object-fit: cover" src="~/Content/images/20140811_184817.jpg" />
		</div>
	</div>
</div>
